@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron jumbotron-fluid text-center">
    <img src="~/userlib/img/bienvenido.png" class="jumbotron-image" />
</div>

<style>
    .jumbotron {
        padding: 2rem 1rem;
        background-color: #f8f9fa; 
    }

    .jumbotron-image {
        max-width: 70%;
        max-height: 70%;
        margin: 0 auto; 
        display: block;
    }

</style>