@model SIGC_PROJECT.Models.ViewModel.EstadisticasUsuariosVM

@{
    ViewData["Title"] = "Estadisticas de Usuarios";
}

<div class="container">
    <div style="margin-top: 8%;">
        <h2 style="font-weight: bold; font-size: 2.3em; color: #04294F;" class="mt-5 mb-3">Total de Usuarios Registrados: @Model.TotalUsuarios</h2>
    </div>

</div>