@using SIGC_PROJECT.Helper;


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-11">
            <div class="card mt-5">

                <div class="card-body">
                    <form method="post" asp-action="Usuario">

                        <div class="row">
                            <input id="nombreUsu" value="@SessionHelper.GetName(User)" hidden />

                            <div class="col-md-12 mb-3">
                                <label for="currentPassword" class="control-label">Contraseña Actual</label>
                                <input type="password" id="currentPassword" class="form-control" />
                            </div>

                            <div class="col-md-12 mb-3">
                                <label for="newPassword" class="control-label">Nueva Contraseña</label>
                                <input type="password" id="newPassword" class="form-control" />
                            </div>

                            <div class="col-md-12 mb-3">
                                <label for="confirmPass" class="control-label">Confirmar Contraseña</label>
                                <input type="password" id="confirmPass" class="form-control" />
                            </div>

                        </div>

                        <div class="text-center">
                            <div class="alert alert-danger font-weight-bold" id="alertPass" style="display: none;"></div>
                        </div>

                        <div class="text-center">
                            <button type="button" class="btn btn-estilo mt-5" id="btnCambiar">Cambiar Contraseña</button>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<style>
    .control-label {
        font-weight: bold;
        color: #04294F;
    }

    .btn-estilo {
        background-color: rgba(42, 62, 84, 1);
        color: #FFFFFF;
        font-weight: bold;
        transition: background-color 0.5s linear;
        width: 35%;
    }

    .btn-estilo:hover {
        background-color: #062043;
        color: #FFFFFF;
    }
</style>