@model List<SolicitudesRegistro>;

@{
    ViewData["Title"] = "Registros Pendientes";
}

<h1 class="mt-5 mb-5" style="font-size: 2.3em;">Registros Pendientes</h1>

<table class="table w-100">
    <thead>
        <tr>
            <th>Nombre Usuario</th>
            <th>Fecha Solicitud</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var solicitud in Model)
        {
            <tr>
                <td>@solicitud.Nombre</td>
                <td>@solicitud.FechaSolicitud</td>
                <td class="text-center">
                    <form method="post" asp-action="AprobarRegistro" asp-route-id="@solicitud.IdSolicitud">
                        <button type="submit" class="btn btn-primary">Aprobar</button>
                    </form>
                </td>
            </tr>
        }

    </tbody>
</table>