@model SIGC_PROJECT.Models.ViewModel.RegistrarPacienteVM

@{
    Layout = null;
}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Solicitud de Registro</title>

    <link rel="shortcut icon" href="assets/images/fav.jpg">

    <!--Enlaces a los estilos-->
    <link href="~/userlib/login/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/userlib/login/assets/css/fontawsom-all.min.css" rel="stylesheet" />
    <link href="~/userlib/login/assets/css/style.css" rel="stylesheet" />
</head>

<body>
    <div class="container-fluid ">
        <div class="container ">
            <div class="row ">
                
                <div class="col-sm-10 login-box">
                    <div class="row">
                       <div class="col-lg-4 col-md-5 box-de">
                           <div class="small-logo text-center">
                                <i class="fa-asymmetrik"></i> Centro Policlínico Nacional
                            </div>
                            <div class="ditk-inf sup-oi">
                                <h2 class="w-100">¿Ya creaste tu cuenta? </h2>
                                <p>Simplemente inicie sesión en su cuenta haciendo clic en el botón de <strong>Iniciar Sesión</strong></p>
                                <a asp-controller="Login" asp-action="Login" class="btn btn-outline-light">
                                    Iniciar Sesión
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-7 log-det">
                            
                            <h2>Crea una Cuenta</h2>

                            <br/>
                            <br/>

                            <form method="POST" asp-controller="RegistrosUsuario" id="EnviarSR" asp-action="EnviarSolicitudR">

                                <div class="text-box-cont">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class="far fa-user"></i>
                                            </span>
                                        </div>
                                        <input type="text" class="form-control" asp-for="nombre" id="nombre" placeholder="Nombre de Usuario" aria-label="Username" aria-describedby="basic-addon1" required>
                                    </div>

                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
                                        </div>
                                        <input type="password" asp-for="contrasena" id="contrasena" class="form-control" placeholder="Escriba su Contraseña" aria-label="Username" aria-describedby="basic-addon1" required>
                                    </div>

                                    <div id="mensajeError" class="alert alert-danger text-center" style="display: none; font-weight: bold"></div>
                                    <div id="mensajeSuccess" class="alert alert-success text-center" style="display: none; font-weight: bold"></div>

                                    <div class="input-group center sup mb-3">
                                        <button class="btn btn-success btn-round">Enviar Solicitud de Registro</button>
                                    </div>
                                </div>

                            </form>                            


                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@*Enlaces a las librerias JS*@
<script src="~/userlib/login/assets/js/jquery-3.2.1.min.js"></script>
<script src="~/userlib/login/assets/js/popper.min.js"></script>
<script src="~/userlib/login/assets/js/bootstrap.min.js"></script>
<script src="~/userlib/login/assets/js/script.js"></script>


</html>

<script>

    //Enviar Informacion al metodo de Iniciar Sesion
    document.getElementById("EnviarSR").addEventListener("submit", function (e) {

        e.preventDefault();

        $.ajax({
            beforeSend: function () {
                $("#EnviarSR button[type=submit]").prop("disabled", true);
            },
            type: this.method,
            url: this.action,
            data: $(this).serialize(),
            success: function (response) {
                
                if (!response.success) {
                    document.getElementById("mensajeError").textContent = response.message;
                    document.getElementById("mensajeError").style.display = "block";
                } 
                else if (response.success) 
                {
                    document.getElementById("mensajeSuccess").textContent = response.message;
                    document.getElementById("mensajeSuccess").style.display = "block";
                }

            },
            error: function (xhr, status, error) {
                console.error("Ha ocurrido un error: ", error);
            },
            complete: function () {
                $("#EnviarSR button[type=submit]").prop("disabled", false);
            }
        });
    });

</script>