@model SIGC_PROJECT.Models.ViewModel.AdminRegistro;

@{
    ViewData["Title"] = "Registro Usuario";
}

<div class="main" id="main">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-11">
                <div class="card mt-4">

                    <div class="card-body">

                        <form asp-action="Registrar" method="POST" asp-controller="RegistrosUsuario" id="Registrar">

                            <!-- Tabs -->
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link estilo-tab active" id="user-tab" data-toggle="tab" href="#userForm" role="tab" aria-controls="userForm" aria-selected="true">Registrar Usuario</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link estilo-tab" id="doctor-tab" data-toggle="tab" href="#doctorForm" role="tab" aria-controls="doctorForm" aria-selected="false" style="display: none;">Registrar Información del Doctor</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link estilo-tab" id="paciente-tab" data-toggle="tab" href="#pacienteForm" role="tab" aria-controls="pacienteForm" aria-selected="false" style="display:none;">Registrar Información del Paciente</a>
                                </li>
                            </ul>
                            <!---------->

                            <div class="tab-content" id="myTabContent">

                                <!-- Contenido Form Usuario -->
                                <div class="tab-pane fade show active" id="userForm" role="tabpanel" aria-labelledby="user-tab">
                                    
                                    <div class="mt-4"></div>

                                    <div class="form-group mb-4">
                                        <label for="nombre" class="control-label">Usuario</label>
                                        <input type="text" asp-for="Usuario.NombreUsuario" id="nombre" class="form-control" />
                                        <span asp-validation-for="Usuario.NombreUsuario"></span>
                                    </div>

                                    <div class="form-group mb-4">
                                        <label for="contrasena" class="control-label">Contraseña</label>
                                        <input type="password" asp-for="Usuario.Contrasena" id="contrasena" class="form-control" />
                                        <span asp-validation-for="Usuario.Contrasena"></span>
                                    </div>

                                    <div class="form-group mb-4">
                                        <label for="roles" class="control-label">Rol del Usuario</label>
                                        <select id="roles" asp-for="Rol" class="form-control">
                                            <option value="" selected hidden>Seleccionar...</option>
                                            @foreach (var rol in ViewBag.Roles)
                                            {
                                                <option value="@rol.IdRol">@rol.Nombre</option>
                                            }
                                        </select>
                                    </div>

                                </div>
                                <!---------------------------->

                                <!-- Contenido Form Doctor -->
                                <div class="tab-pane fade" id="doctorForm" role="tabpanel" aria-labelledby="doctor-tab">
                                    
                                    <div class="mt-4"></div>

                                    <div class="row">
                                        <div class="col-md-3 mb-4">
                                            <label asp-for="Doctor.Cedula" class="control-label">Cédula</label>
                                            <input asp-for="Doctor.Cedula" class="form-control" />
                                            <span asp-validation-for="Doctor.Cedula" class="text-danger"></span>
                                        </div>

                                        <div class="col-md-9"></div>

                                        <div class="col-md-3 mb-4">
                                            <label asp-for="Doctor.Nombre" class="control-label"></label>
                                            <input asp-for="Doctor.Nombre" class="form-control" />
                                            <span asp-validation-for="Doctor.Nombre" class="text-danger"></span>
                                        </div>

                                        <div class="col-md-3 mb-4">
                                            <label asp-for="Doctor.Apellido" class="control-label"></label>
                                            <input asp-for="Doctor.Apellido" class="form-control" />
                                            <span asp-validation-for="Doctor.Apellido" class="text-danger"></span>
                                        </div>

                                        <div class="col-md-6 mb-4">
                                            <label asp-for="Doctor.Especialidad" class="control-label"></label>
                                            <select asp-for="Doctor.Especialidad" class="form-control">
                                                <option value="" selected hidden>Seleccionar</option>
                                                <option value="Anestesiología">Anestesiología</option>
                                                <option value="Cardiología">Cardiología</option>
                                                <option value="Cirugía Bariátrica">Cirugía Bariátrica</option>
                                                <option value="Cirugía General">Cirugía General</option>
                                                <option value="Cirugía Maxilofacial">Cirugía Maxilofacial</option>
                                                <option value="Cirugía Pediátrica">Cirugía Pediátrica</option>
                                                <option value="Cirugía Plástica, Reconstructiva y Estética">Cirugía Plástica, Reconstructiva y Estética</option>
                                                <option value="Dermatología y Cirugía de la Piel">Dermatología y Cirugía de la Piel</option>
                                                <option value="Diabetología">Diabetología</option>
                                                <option value="Endocrinología">Endocrinología</option>
                                                <option value="Epidemiología">Epidemiología</option>
                                                <option value="Gastroenterología">Gastroenterología</option>
                                                <option value="Ginecología y Obstetricia">Ginecología y Obstetricia</option>
                                                <option value="Hematología">Hematología</option>
                                                <option value="Infectología">Infectología</option>
                                                <option value="Intensivistas Pediatricos y de Adultos">Intensivistas Pediatricos y de Adultos</option>
                                                <option value="Medicina General">Medicina General</option>
                                                <option value="Medicina Interna">Medicina Interna</option>
                                                <option value="Nefrología">Nefrología</option>
                                                <option value="Neumología">Neumología</option>
                                                <option value="Neumología pediátrica">Neumología pediátrica</option>
                                                <option value="Neurocirugía">Neurocirugía</option>
                                                <option value="Neurología">Neurología</option>
                                                <option value="Oftalmología">Oftalmología</option>
                                                <option value="Ortopedia y Traumatología">Ortopedia y Traumatología</option>
                                                <option value="Otorrinolaringología">Otorrinolaringología</option>
                                                <option value="Pediatría">Pediatría</option>
                                                <option value="Radiología y Sonografía">Radiología y Sonografía</option>
                                                <option value="Urología">Urología</option>
                                            </select>
                                            <span asp-validation-for="Doctor.Especialidad" class="text-danger"></span>
                                        </div>

                                        <div class="col-md-3 mb-4">
                                            <label asp-for="Doctor.NumeroExequatur" class="control-label">Número Exequatur</label>
                                            <input asp-for="Doctor.NumeroExequatur" class="form-control" />
                                            <span asp-validation-for="Doctor.NumeroExequatur" class="text-danger"></span>
                                        </div>

                                        <div class="col-md-3 mb-4">
                                            <label asp-for="Doctor.Telefono" class="control-label">Teléfono</label>
                                            <input asp-for="Doctor.Telefono" class="form-control" />
                                            <span asp-validation-for="Doctor.Telefono" class="text-danger"></span>
                                        </div>

                                        <div class="col-md-6 mb-4">
                                            <label asp-for="Doctor.CorreoElectronico" class="control-label">Correo Electrónico</label>
                                            <input asp-for="Doctor.CorreoElectronico" class="form-control" />
                                            <span asp-validation-for="Doctor.CorreoElectronico" class="text-danger"></span>
                                        </div>

                                    </div>

                                </div>
                                <!--------------------------->

                                <!-- Contenido Form Paciente -->
                                <div class="tab-pane fade" id="pacienteForm" role="tabpanel" aria-labelledby="paciente-tab">
                                    
                                    <div class="mt-4"></div>
                                    
                                    <div class="row">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                        <div class="col-md-3 mb-4">
                                            <label asp-for="Paciente.Cedula" class="control-label">Cédula</label>
                                            <input asp-for="Paciente.Cedula" class="form-control" />
                                            <span asp-validation-for="Paciente.Cedula" class="text-danger"></span>
                                        </div>

                                        <div class="col-md-9"></div>

                                        <div class="col-md-4 mb-4">
                                            <label asp-for="Paciente.Nombre" class="control-label"></label>
                                            <input asp-for="Paciente.Nombre" class="form-control" />
                                            <span asp-validation-for="Paciente.Nombre" class="text-danger"></span>
                                        </div>

                                        <div class="col-md-4 mb-4">
                                            <label asp-for="Paciente.Apellido" class="control-label"></label>
                                            <input asp-for="Paciente.Apellido" class="form-control" />
                                            <span asp-validation-for="Paciente.Apellido" class="text-danger"></span>
                                        </div>

                                        <div class="col-md-3 mb-4">
                                            <label asp-for="Paciente.FechaNacimiento" class="control-label">Fecha de Nacimiento</label>
                                            <input asp-for="Paciente.FechaNacimiento" class="form-control" type="date" />
                                            <span asp-validation-for="Paciente.FechaNacimiento" class="text-danger"></span>
                                        </div>

                                        <div class="col-md-1 mb-4">
                                            <label asp-for="Paciente.Edad" class="control-label"></label>
                                            <input asp-for="Paciente.Edad" id="pacienteEdad" class="form-control" readonly />
                                            <span asp-validation-for="Paciente.Edad" class="text-danger"></span>
                                        </div>

                                        <div class="col-md-2 mb-4">
                                            <label asp-for="Paciente.Genero" class="control-label"></label>
                                            <select asp-for="Paciente.Genero" class="form-control">
                                                <option value="" hidden selected>Selec...</option>
                                                <option value="Femenino">Femenino</option>
                                                <option value="Masculino">Masculino</option>
                                            </select>
                                            <span asp-validation-for="Paciente.Genero" class="text-danger"></span>
                                        </div>

                                        <div class="col-md-2 mb-4">
                                            <label asp-for="Paciente.Telefono" class="control-label"></label>
                                            <input asp-for="Paciente.Telefono" class="form-control" />
                                            <span asp-validation-for="Paciente.Telefono" class="text-danger"></span>
                                        </div>

                                        <div class="col-md-4 mb-4">
                                            <label asp-for="Paciente.Direccion" class="control-label"></label>
                                            <input asp-for="Paciente.Direccion" class="form-control" />
                                            <span asp-validation-for="Paciente.Direccion" class="text-danger"></span>
                                        </div>

                                        <div class="col-md-4 mb-4">
                                            <label asp-for="Paciente.CorreoElectronico" class="control-label">Correo Electrónico</label>
                                            <input asp-for="Paciente.CorreoElectronico" class="form-control" />
                                            <span asp-validation-for="Paciente.CorreoElectronico" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <!----------------------------->

                            </div>

                            <div id="mensaje">
                                @if (TempData["MensajeError"] != null)
                                {
                                    <div class="alert alert-danger" id="dataMensaje">@TempData["MensajeError"]</div>
                                }
                            </div>

                            <div class="text-center mt-5">
                                <button type="submit" class="btn btn-registrar">Crear Usuario</button>
                                <a asp-controller="Usuarios" asp-action="Index" class="btn btn-danger font-weight-bold" style="width: 30%;">Cancelar</a>
                            </div>
                            
                        </form>

                    </div>

                </div>
            </div>

        </div>
    </div>

</div>

@section Scripts {

    <style>
        .btn-registrar { 
            background-color: rgba(42, 62, 84, 1);
            color: #FFFFFF;
            font-weight: bold;
            transition: background-color 0.5s linear;
            width: 30%;
        }

        .btn-registrar:hover{
            background-color: #062043;
            color: #FFFFFF;
        }

        .control-label {
            font-weight: bold;
            color: #04294F;
        }

        .estilo-tab {
            background-color: rgba(42, 62, 84, 0.2);
            color: rgba(42, 62, 84, 0.4);
            font-weight: bold;
        }

        .estilo-tab:hover {
            background-color: rgba(42, 62, 84, 0.8) !important;
            color: white;
            transition: background-color 0.3s linear;
        }

        .estilo-tab.active {
            background-color: rgba(42, 62, 84, 1) !important;
            color: white !important;
        }

        #pacienteEdad::-webkit-inner-spin-button, #pacienteEdad::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    </style>
    
    <script src="~/userlib/js/registrousuario.js"></script>
}