@model SIGC_PROJECT.Models.ViewModel.DoctorVM

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-11">
            <div class="card mt-5">
                <div class="card-body">

                    <form id="formCrearD" asp-action="Create" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <!-- Tabs -->
                        <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link estilo-tab active" id="user-tab" data-toggle="tab" href="#userForm" role="tab" aria-controls="userForm" aria-selected="true">Registrar Usuario</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link estilo-tab" id="doctor-tab" data-toggle="tab" href="#doctorForm" role="tab" aria-controls="doctorForm" aria-selected="false">Registrar Información</a>
                            </li>
                        </ul>
                        <!---------->

                        <div class="tab-content" id="myTabContent">

                            <!-- Contenido Form Usuario -->
                            <div class="tab-pane fade show active" id="userForm" role="tabpanel" aria-labelledby="user-tab">
                                <div class="mt-4"></div>

                                <div class="form-group mb-4">
                                    <label for="nombre" class="control-label">Usuario</label>
                                    <input type="text" asp-for="Usuario.NombreUsuario" id="nombre" class="form-control" required />
                                    <span asp-validation-for="Usuario.NombreUsuario"></span>
                                </div>

                                <div class="form-group mb-4">
                                    <label for="contrasena" class="control-label">Contraseña</label>
                                    <input type="password" asp-for="Usuario.Contrasena" id="contrasena" class="form-control" required />
                                    <span asp-validation-for="Usuario.Contrasena"></span>
                                </div>

                                <div class="form-group mb-4">
                                    <label for="roles" class="control-label">Rol del Usuario</label>
                                    <select id="roles" asp-for="Rol" class="form-control" required>
                                        <option value="2" selected>Doctor</option>
                                    </select>
                                </div>
                            </div>
                            <!---------------------------->

                            <!-- Contenido Form Doctor -->
                            <div class="tab-pane fade" id="doctorForm" role="tabpanel" aria-labelledby="doctor-tab">
                                <div class="mt-4"></div>

                                <div class="row">
                                    <div class="col-md-3 mb-4">
                                        <label asp-for="Doctor.Cedula" class="control-label">Cédula</label>
                                        <input asp-for="Doctor.Cedula" class="form-control" required />
                                        <span asp-validation-for="Doctor.Cedula" class="text-danger"></span>
                                    </div>

                                    <div class="col-md-9"></div>

                                    <div class="col-md-3 mb-4">
                                        <label asp-for="Doctor.Nombre" class="control-label"></label>
                                        <input asp-for="Doctor.Nombre" class="form-control" required />
                                        <span asp-validation-for="Doctor.Nombre" class="text-danger"></span>
                                    </div>
                                    
                                    <div class="col-md-3 mb-4">
                                        <label asp-for="Doctor.Apellido" class="control-label"></label>
                                        <input asp-for="Doctor.Apellido" class="form-control" required />
                                        <span asp-validation-for="Doctor.Apellido" class="text-danger"></span>
                                    </div>
                                    
                                    <div class="col-md-6 mb-4">
                                        <label asp-for="Doctor.Especialidad" class="control-label"></label>
                                        <select asp-for="Doctor.Especialidad" class="form-control" required>
                                            <option value="" selected hidden>Seleccionar</option>
                                            <option value="Anestesiología">Anestesiología</option>
                                            <option value="Cardiología">Cardiología</option>
                                            <option value="Cirugía Bariátrica">Cirugía Bariátrica</option>
                                            <option value="Cirugía General">Cirugía General</option>
                                            <option value="Cirugía Maxilofacial">Cirugía Maxilofacial</option>
                                            <option value="Cirugía Pediátrica">Cirugía Pediátrica</option>
                                            <option value="Cirugía Plástica, Reconstructiva y Estética">Cirugía Plástica, Reconstructiva y Estética</option>
                                            <option value="Dermatología y Cirugía de la Piel">Dermatología y Cirugía de la Piel</option>
                                            <option value="Diabetología">Diabetología</option>
                                            <option value="Endocrinología">Endocrinología</option>
                                            <option value="Epidemiología">Epidemiología</option>
                                            <option value="Gastroenterología">Gastroenterología</option>
                                            <option value="Ginecología y Obstetricia">Ginecología y Obstetricia</option>
                                            <option value="Hematología">Hematología</option>
                                            <option value="Infectología">Infectología</option>
                                            <option value="Intensivistas Pediatricos y de Adultos">Intensivistas Pediatricos y de Adultos</option>
                                            <option value="Medicina General">Medicina General</option>
                                            <option value="Medicina Interna">Medicina Interna</option>
                                            <option value="Nefrología">Nefrología</option>
                                            <option value="Neumología">Neumología</option>
                                            <option value="Neumología pediátrica">Neumología pediátrica</option>
                                            <option value="Neurocirugía">Neurocirugía</option>
                                            <option value="Neurología">Neurología</option>
                                            <option value="Oftalmología">Oftalmología</option>
                                            <option value="Ortopedia y Traumatología">Ortopedia y Traumatología</option>
                                            <option value="Otorrinolaringología">Otorrinolaringología</option>
                                            <option value="Pediatría">Pediatría</option>
                                            <option value="Radiología y Sonografía">Radiología y Sonografía</option>
                                            <option value="Urología">Urología</option>
                                        </select>
                                        <span asp-validation-for="Doctor.Especialidad" class="text-danger"></span>
                                    </div>

                                    <div class="col-md-6 mb-4">
                                        <label asp-for="Doctor.Consultorio" class="control-label">Consultorio</label>
                                        <select asp-for="Doctor.Consultorio" class="form-control">
                                            <option value="" hidden selected>Seleccionar...</option>
                                            <option value="Consultorio 201">Consultorio 201</option>
                                            <option value="Consultorio 202">Consultorio 202</option>
                                            <option value="Consultorio 203">Consultorio 203</option>
                                            <option value="Consultorio 204">Consultorio 204</option>
                                            <option value="Consultorio 205">Consultorio 205</option>
                                            <option value="Consultorio 206">Consultorio 206</option>
                                            <option value="Consultorio 207">Consultorio 207</option>
                                            <option value="Consultorio 208">Consultorio 208</option>
                                            <option value="Consultorio 209">Consultorio 209</option>
                                            <option value="Consultorio 210">Consultorio 210</option>
                                            <option value="Consultorio 301">Consultorio 301</option>
                                            <option value="Consultorio 302">Consultorio 302</option>
                                            <option value="Consultorio 303">Consultorio 303</option>
                                            <option value="Consultorio 304">Consultorio 304</option>
                                            <option value="Consultorio 305">Consultorio 305</option>
                                            <option value="Consultorio 306">Consultorio 306</option>
                                            <option value="Consultorio 307">Consultorio 307</option>
                                            <option value="Consultorio 308">Consultorio 308</option>
                                            <option value="Consultorio 309">Consultorio 309</option>
                                            <option value="Consultorio 310">Consultorio 310</option>
                                            <option value="Consultorio 401">Consultorio 401</option>
                                            <option value="Consultorio 402">Consultorio 402</option>
                                            <option value="Consultorio 403">Consultorio 403</option>
                                            <option value="Consultorio 404">Consultorio 404</option>
                                            <option value="Consultorio 405">Consultorio 405</option>
                                            <option value="Consultorio 406">Consultorio 406</option>
                                            <option value="Consultorio 407">Consultorio 407</option>
                                            <option value="Consultorio 408">Consultorio 408</option>
                                            <option value="Consultorio 409">Consultorio 409</option>
                                            <option value="Consultorio 410">Consultorio 410</option>
                                        </select>
                                        <span asp-validation-for="Doctor.Consultorio" class="text-danger"></span>
                                    </div>

                                    <div class="col-md-3 mb-4">
                                        <label asp-for="Doctor.NumeroExequatur" class="control-label">Número Exequatur</label>
                                        <input asp-for="Doctor.NumeroExequatur" class="form-control" required />
                                        <span asp-validation-for="Doctor.NumeroExequatur" class="text-danger"></span>
                                    </div>

                                    <div class="col-md-3 mb-4">
                                        <label asp-for="Doctor.Telefono" class="control-label">Teléfono</label>
                                        <input asp-for="Doctor.Telefono" class="form-control" />
                                        <span asp-validation-for="Doctor.Telefono" class="text-danger"></span>
                                    </div>
                                    
                                    <div class="col-md-6 mb-4">
                                        <label asp-for="Doctor.CorreoElectronico" class="control-label">Correo Electrónico</label>
                                        <input asp-for="Doctor.CorreoElectronico" class="form-control" />
                                        <span asp-validation-for="Doctor.CorreoElectronico" class="text-danger"></span>
                                    </div>
                                </div>

                            </div>
                            <!--------------------------->
                        </div>

                        <div id="mensaje">
                            @if (TempData["MensajeError"] != null)
                            {
                                <div class="alert alert-danger" id="dataMensaje">@TempData["MensajeError"]</div>
                            }
                        </div>

                        <div class="text-center">
                            <button type="submit" id="btnCrear" class="btn btn-registrar mt-5">Crear</button>
                            <a asp-action="Index" class="btn btn-danger mt-5">Cancelar</a>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/userlib/js/doctorscript.js"></script>

    <style>
        
        .btn { 
            font-weight: bold;
            width: 30%;
        }

        .btn-registrar {
            background-color: #17a71d;
            color: #FFFFFF;
            transition: background-color 0.5s linear;
        }

        .btn-registrar:hover{
            background-color: #61c13d;
            color: #FFFFFF;
            text-shadow: 1px 1px 2px #3e536d;
        }

        .estilo-tab {
            background-color: rgba(42, 62, 84, 0.2);
            color: rgba(42, 62, 84, 0.4);
            font-weight: bold;
        }

        .estilo-tab:hover {
            background-color: rgba(42, 62, 84, 0.8) !important;
            color: white;
            transition: background-color 0.3s linear;
        }

        .estilo-tab.active {
            background-color: #4a7cba !important;
            color: white !important;
            text-shadow: 1px 1px 2px #3e536d;
        }

        .control-label {
            font-weight: bold;
            color: #04294F;
        }

        #dataMensaje {
            text-align: center;
            font-weight: bold;
        }

    </style>
}
