@model SIGC_PROJECT.Models.ViewModel.ConsultaVM

@{
    ViewData["Title"] = "Create";
}

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="cedula" class="control-label">Cédula del Paciente:</label>
        <input type="text" id="cedula" class="form-control" autocomplete="off" list="cedulasList" />
    </div>

    <div class="form-group" id="pact_input1" style="display: none;">
        <label for="nombrePaciente">Nombre del Paciente</label>
        <input type="text" id="nombrePaciente" class="form-control" readonly />
    </div>

    <div class="form-group" id="pact_input2" style="display: none;">
        <label for="edadPaciente">Edad del Paciente</label>
        <input type="text" id="edadPaciente" class="form-control" readonly />
    </div>

    <input asp-for="PacienteId" hidden/>
    <input asp-for="DoctorId" value="@ViewBag.DoctorId" hidden />

    <div class="form-group">
        <label asp-for="FechaConsulta">Fecha de la Consulta</label>
        <input asp-for="FechaConsulta" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="MotivoConsulta">Motivo de la Consulta</label>
        <input asp-for="MotivoConsulta" class="form-control" />
    </div>
    
    <div class="form-group">
        <label asp-for="Diagnostico">Diagnostico</label>
        <input asp-for="Diagnostico" class="form-control" />
    </div>
    
    <div class="form-group">
        <label asp-for="Tratamiento">Tratamiento</label>
        <input asp-for="Tratamiento" class="form-control" />
    </div>
    
    <div class="form-group">
        <label asp-for="Observaciones">Observaciones</label>
        <input asp-for="Observaciones" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Guardar Consulta</button>
</form>

@* <h1>Create</h1>

<h4>Consulta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PacienteId" class="control-label"></label>
                <select asp-for="PacienteId" class ="form-control" asp-items="ViewBag.PacienteId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DoctorId" class="control-label"></label>
                <select asp-for="DoctorId" class ="form-control" asp-items="ViewBag.DoctorId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FechaConsulta" class="control-label"></label>
                <input asp-for="FechaConsulta" class="form-control" />
                <span asp-validation-for="FechaConsulta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MotivoConsulta" class="control-label"></label>
                <input asp-for="MotivoConsulta" class="form-control" />
                <span asp-validation-for="MotivoConsulta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diagnostico" class="control-label"></label>
                <input asp-for="Diagnostico" class="form-control" />
                <span asp-validation-for="Diagnostico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tratamiento" class="control-label"></label>
                <input asp-for="Tratamiento" class="form-control" />
                <span asp-validation-for="Tratamiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecetaId" class="control-label"></label>
                <select asp-for="RecetaId" class ="form-control" asp-items="ViewBag.RecetaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Observaciones" class="control-label"></label>
                <input asp-for="Observaciones" class="form-control" />
                <span asp-validation-for="Observaciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div> *@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/userlib/js/consultas.js"></script>
}
